@import '../../styles';

.container{
    background-color: $primary-color;
    background-image: url('/assets/skill-hand.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}

h1{
    color: white;
    margin-left: 4rem;
    margin-top: 4rem;
}




