/* You can add global styles to this file, and also import other style files */
$primary-color: #005fe8;


h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}