/* You can add global styles to this file, and also import other style files */
$primary-color: #005fe8;


h1, h2, h3, a{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}

.container {
    height: auto;
    min-height: 100% !important;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.cursor-pointer{
    cursor: pointer;
}

body{
    box-sizing: border-box;
}

.slideshow-container{
    
    position: absolute !important;
    left: 47% !important;
    top: 45% !important;
    width: 160px !important;
    transform: translate(-50% ,-50%) !important;
}

.slideshow-container[_ngcontent-c3] .arrow-container.prev[_ngcontent-c3]:before {
    background-image: none !important;
}

.slideshow-container[_ngcontent-c3] .arrow-container.next[_ngcontent-c3]:before{
    background-image: none !important;
}

.arrow.prev, .arrow.next{
    display: none !important;
}

.slick-dots{
    display: none !important;
}

.slides.link{
    pointer-events: none !important;
    cursor: default !important;
}

@media only screen and (max-width: 600px) {
    .slideshow-container{
        left: 40% !important;
    }

    
}

@media only screen and (max-height: 490px) {
    .slideshow-container{
        top: 25% !important;
        left: 43% !important;
    }

    .contact{
        margin-top: 20px;
    }

    .projects-puce{
        display:block;
    }
}